.container {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 5px;
    margin: 10px 0;
    border-bottom: 1px solid var(--darkest-blue);
}

.icon {

}

.avatar {
    margin: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date {
    font-size: 14px;
}

.message {
    margin: 0 0 0 10px;
}

.nameAndMessage {
    display: flex;
}