.appointmentsHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.appointmentsSwitcher {
    display: flex;
}
.appointmentsHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.appointmentsSwitcher {
    display: flex;
}
