.container {

}

.formControl {
    margin: 3px;
    width: 300px;
}

.modalContainer {
    display: flex;
    flex-direction: column;
}

.textarea {
    margin: 20px 0;
}

.button {
    flex: 1;
    margin: 5px !important;
}

.icon {
    width: 36px;
    height: 36px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}