.container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 20px;
}

.chatContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.chatBodyContainer {
    width: 60%;
    height: 100%;
}

.media {

}