.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index:100;
    width: 33%;
    height: 100%;
}

.header {
    height: 62px;
}

.textComposer {
    background-color: var(--white) !important;
}

.textField {
    margin: 0 !important;
}
