.container {
    background-color: var(--white);
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.childContainer {
    background-color: var(--white);
    border: 1px solid var(--dark-blue);
    border-radius: 2px;
    box-shadow: 4px 2px 2px var(--dark-blue);
    padding: 20px;
}

.buttonsGroup {
    display: flex;
}

.button {
    flex: 1;
}