.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 640px;
}

.gridList {
    width: 640px;
    flex-wrap: nowrap !important;
    transform: translateZ(0);
}

.imgFullHeight {
    width: 640px !important;
    height: 480px !important;
}
