.body {
    height: calc(100vh - 62px);
    padding: 10px;
    background-color: var(--white);
    overflow-y: auto;
}

.message {
    display: flex;
    flex-direction: column;
}

.messageHeader {
    display: flex;
    font-size: 12px;
    color: var(--darkest-gray);
}

.messageBody {
    width: fit-content;
    padding: 6px 12px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 8px;
}

.author {
}

.date {
    margin: 0 0 0 6px;
}
