.container {
    height: 100vh;
    width: 380px;
}

.header {
    display: flex;
    justify-content: space-between;
    color: var(--darkest-blue);
    padding: 0 0 0 15px;
    height: 60px;
}
.textComposer {
    height: 60px;
    background-color: var(--white) !important;
}

.textField {
    margin: 0 !important;
}

.body {
    height: calc(100vh - 120px);
    padding: 10px;
    background-color: var(--white);
    overflow-y: auto;
}

.message {
    display: flex;
    flex-direction: column;
}

.messageHeader {
    display: flex;
    font-size: 12px;
    color: var(--dark-gray);
}

.messageBody {
    display: table;
    width: fit-content;
    padding: 6px 12px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 8px;
}

.author {
}

.date {
    margin: 0 0 0 6px;
}
