body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
    display: flex;
    height: 100vh;
    flex-grow: 1;
    /*flex-wrap: wrap;*/
    flex-direction: column;
}

.streamWrapper video::-webkit-media-controls-current-time-display,
.streamWrapper video::-webkit-media-controls-timeline,
.streamWrapper video::-webkit-media-controls-play-button,
.streamWrapper video::internal-media-controls-overflow-button{
    display: none;
}
.small.streamWrapper video::-webkit-media-controls-volume-control-container {
    display: none;
}

.Blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
}
.react-grid-item:hover{
    z-index: 10;
}